<nav class="px-4 py-3 ">
    <div class="flex justify-content-between align-items-center">
      <div class="flex align-items-center">
        <p-image src="/whitecapebcklogo.png" width="200" [preview]="false"></p-image>
        <p-menubar [model]="menuItems" [styleClass]="'border-none bg-transparent'">
        </p-menubar>
      </div>
      
      <div>
        <p-button 
          label="Sign In" 
          styleClass="p-button-text p-button-secondary"
        ></p-button>
      </div>
    </div>
  </nav>